@import './Composants/header.css';
.sav {
  background-color: #353434;
  padding: 20px 20px;
}
.sav .fa-solid {
  color: white;
  padding-right: 10px;
  font-size: 10px;
}
.sav a {
  color: white;
}
.sav h4 {
  color: white;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.sav h4 > p {
  margin: auto;
  font-size: 15px;
  padding: 4px;
}

@font-face {
  font-family: "Shrikland";
  src: url("../fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  color: black;
}
a:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
a:nth-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
a:nth-of-type(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  flex-direction: column;
  margin: 0px;
}

h1 {
  color: black;
  font-size: 20px;
  font-family: Shrikland;
}

h2 {
  padding-left: 15px;
  font-size: 20px;
}

h3 {
  margin: 0px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.catalogue {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 20px;
  align-items: center;
  background-color: #faf8f8;
}

.icon .fa-solid {
  margin-right: 20px;
}

.coeur .fa-regular {
  padding-right: 10px;
  position: absolute;
}

.coeur .fa-solid {
  opacity: 0;
  position: relative;
  bottom: 2px;
}
.coeur .fa-solid:hover {
  opacity: 1;
}

.repas {
  border-radius: 60px 60px 0px 0px;
  width: 100%;
  position: relative;
  padding: 10px 25px 0px;
  margin-top: -90px;
  background-color: #faf8f8;
}

.sous-menu > h2 {
  font-weight: initial;
}
.sous-menu > h2::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #99E2D0;
  display: block;
  margin-top: 5px;
}

.plat {
  width: 100%;
  margin-top: 10px;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}

.choix-repas {
  margin-bottom: 20px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.carte {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 2px rgba(145, 141, 141, 0.12);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  overflow: hidden;
}

.carte-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding: 10px 10px 15px;
  overflow: auto;
}

.carte-plat {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hero-plat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 20px;
}
.hero-plat > button {
  border: none;
  border-radius: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  font-size: 20px;
}
.hero-plat > button:hover {
  opacity: 0.5;
}

.coeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fleche {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 30px;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.check {
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: -70px;
  transition-duration: 1s;
}

.carte:hover .check {
  margin-right: 0px;
  transition: 1.5s;
}

b {
  width: 20px;
}

i.fa-solid.fa-circle-check {
  transition: transform 1s;
}

.carte:hover i.fa-solid.fa-circle-check {
  transform: rotate(360deg);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .plat {
    aspect-ratio: 5/2;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sous-menu {
    width: 50%;
  }
  .coeur {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
  }
  .sav {
    text-align: center;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  .sous-menu {
    width: 100%;
  }
  .plat {
    aspect-ratio: 7/2;
  }
  .coeur {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}/*# sourceMappingURL=style2.css.map */