@import './Composants/footer.scss';
@import './Composants/header.css';

@font-face {
    font-family: "Shrikland";
    src: url("../fonts/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

$base-color: black;

body {
    font-family: "Roboto";
    flex-direction: column;
    margin: 0px;
}


h1 {
    color: $base-color;
    font-size: 20px;
    font-family: Shrikland;
}

h2 {
    padding-left: 15px;
    font-size: 20px;
}

h3 {
    margin: 0px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
.catalogue {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 20px;
    align-items: center;
    background-color: #faf8f8;
}

.icon .fa-solid {
    margin-right: 20px;
}

.coeur .fa-solid {
   opacity: 0;
   &:hover{
      opacity: 1;
   }

}

.coeur .fa-regular {
    position: absolute;
    right: 25px;
 }

.repas {
    border-radius: 60px 60px 0px 0px;
    width: 100%;
    position: relative;
    padding: 10px 25px 0px;
    margin-top: -90px;
    background-color: #faf8f8;

    >h2 {
        font-weight: initial;
        &::after{
            content:"";
            width: 40px;
            height: 2px;
            background: aqua;
            display: block;
            margin-top: 5px;
        }
        
    }
}

.plat {
    width: 100%;
    margin-top: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.choix-repas {
    margin-bottom: 20px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.carte {
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgb(145 141 141 / 12%);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: white;
    overflow: hidden;
}



.carte-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    padding: 10px 10px 15px;
}
.carte-plat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hero-plat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 20px;

    >button {
        border: none;
        border-radius: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
        color: white;
        font-size: 20px;
    }
}

.coeur {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fleche {
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 30px;
}

text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.check{
    width: 0;
    height: 70px;
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
    transition: width 0.2s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.carte:hover .check{
    width: 50px;
}

