.sav{
    background-color: #353434;
    padding: 5px 20px;
    .fa-solid{
     color: white;
     padding-right: 10px;
     font-size: 10px;
    }
    a{
     color: white;
    }
    h4{
     color: white;
    }
    > p {
      margin: auto;
      font-size: 15px;
      padding: 4px;
   }
  }
